.cta-btn {
	padding: 12px 24px;
	background-color: var(--primary-color);
	color: var(--button-text);
	text-decoration: none;
	border-radius: 4px;
	font-size: 1rem;
}

.cta-btn:hover {
	background-color: var(--primary-hover-color);
}

.hero-section {
	text-align: center;
	margin-bottom: 40px;
}

.hero-section p {
	font-size: 1.2rem;
	color: var(--text-light-color);
	margin-top: 20px;
	margin-bottom: 40px;
}

.latest-posts {
	margin-top: 60px;
}

.latest-posts h2 {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 20px;
	color: var(--text-color);
}

.hero-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-logo img {
	width: 100px;
	margin: 0;
}

.hero-logo h1 {
	font-family: "Giaza";
	font-style: normal;
	margin: 0;
	font-size: 8rem;
}

@media (max-width: 768px) {
	.hero-section h1 {
		font-size: 5rem;
	}

	.hero-logo img {
		width: 60px;
	}

	.home-logo {
		width: 250px;
	}
}
